@font-face {
    font-family: "adihausdin";
    src: url("/assets/fonts/adihausdin/adihausdin.ttf") format("truetype");
}

@font-face {
    font-family: "adihausdin_cn";
    src: url("/assets/fonts/adihausdin/adihausdin_cn.ttf") format("truetype");
}

@font-face {
    font-family: "adineuepro";
    src: url("/assets/fonts/adineuepro/adineueprocond_bold.otf") format("truetype");
}