@import "screen-size";
@import "fonts";
@import "_colors";
@import "util";


.wrapper {
    @include wrap(970px, 400px, 1px solid #9c611e, auto, 0px, auto);
}

.background-div img {
    z-index: -2;

    @include small {
        width: 400px;
        height: 580px;
    }
}

.logo-div img {
    @include component(54px, 284px, -88px, 180px);
}

.player2 img {
    @include component(201px, 311px, 150px, 190px);
}

.nemesis-icon img {
    @include component(88px, 321px, -53px, 20px);
}

.player2-legend {
    @include component(114px, 321px, 466px, 275px);
    @include font(adihausdin_cn, '', 000000, 1);
}

.first-title {
    @include component(120px, 402px, 120px, 30px);
    @include font(adineuepro, 37px, $color-title, 28px);
}

.first-desc {
    @include component(93px, 359px, 188px, 30px);
    @include font(adihausdin_cn, 10px, $color-subtitle, px);
}

.guayo img {
    @include component(201px, 278px, 325px, 35px);
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

.linea1 img {
    @include component(89px, 278px, 439px, 135px);
}


.second-paragraph {
    @include component(139px, 420px, 610px, 35px);
}

.subtitle {
    @include font(adineuepro, 18px, $color-title, px);
}

.subparagrph {
    @include font(adihausdin_cn, 11px, $color-subtitle, px);
}

.guayos-2 img {
    @include component(170px, 122px, 781px, 35px);
    @include jumpElement();
}

.player-2 img {
    @include component(190px, 121px, 681px, 200px);
}

.final-title {
    @include component(175px, 105px, 932px, 170px);
    @include font(adineuepro, 18px, $color-final, px);
}


.filter-orange {
    filter: invert(48%) sepia(79%) saturate(2476%) brightness(118%) contrast(119%);
}

  #slideshow img {  
    animation: slide 2s infinite;
  }
  #slideshow img:nth-child(2) {
    animation-delay: -1.25s;
  }
  #slideshow img:nth-child(3) {
    animation-delay: -1.5s;
  }

  @keyframes slide {
    25% {
      transform: translateX(0px);
      opacity: 0;
    }
    90% {
      transform: translateX(0px);
      opacity: 0;
    }
    95% {
      transform: translateX(200px);
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
    }