<!-- <div class="mainbox">
  <div class="logo">
  </div>
  <br>
  <div class="player right">
    <img src="/assets/images/player/messi.jpg" alt="Messi">
  </div>
</div> -->

<!-- <div class="background-div">
  <img src="/assets/images/bg/1.jpg" >

</div> -->
<div class="wrapper">
  <div class="background-div">
    <img src="/assets/images/bg/1.jpg">

    <div class="logo-div">
      <img src="/assets/images/logo/logo_adidas.svg">
    </div>

    <div class="player2">
      <img src="/assets/images/player/messi.jpg">
    </div>

    <div class="nemesis-icon">
      <img src="/assets/images/logo/nemeziz.svg" class="filter-orange" alt="nemeziz">
    </div>

    <div class="first-paragraph">
      <div class="first-title">
        AGILIDADE
        <br>
        SEM IGUAL
      </div> 
      
      <div class="first-desc">
        UM NOVO PACK DE CORES COMBINANDO         
        AS TECNOLOGIAS MAIS INOVADORES PARA        
        DOMINAR OSCAMPOS, VELOCIDADE, TOQUE,        
        AGILIDADE E CONTROLE EM UMA PALETA         
        INEDITA PARA ELEVAR O NIVEL DO JOGO E         
        DEIXAR OS ADVERSARIOS PARA TRAS.
      </div>   
        
    </div>

    <div class="guayo">
      <img src="/assets/images/bg/4.png">
    </div>
  </div>

</div>
<!-- <img width="400px" height="500px" src="/assets/images/bg/1.jpg"> -->
<!-- <img width="980px" height="600px" src="/assets/images/bg/1.jpg"> -->