@import "screen-size";
@import "fonts";
@import "_colors";
@import "util";


.wrapper {
    height: 970px;
    width: 400px;
    border: 1px solid #9c611e;
    margin: auto;
    margin-left: 160px;
    margin-right: auto;
}

.background-div img{   

    z-index: -2;
    @include small {
        width: 400px;
        height: 580px;        
    }
    
}

.logo-div img {
    @include component(54px,284px,-88px,341px);
}

.player2 img{      
    @include component(201px,311px,150px,348px);
}

.nemesis-icon img {
    @include component(88px,321px,-53px,188px);
}

.player2-legend{
    @include component(114px,321px,466px,452px);    
    @include font(adihausdin_cn,'',000000,1);
}

.first-title {
    @include component(120px,402px,120px,204px);
    @include font(adineuepro,37px,$color-title,28px);
}

.first-desc {
    @include component(93px,359px,188px,204px);
    @include font(adihausdin_cn,10px,$color-subtitle,px);
}

.guayo img{  
    @include component(201px,278px,325px,201px);     
}

.second-paragraph {
    @include component(139px,420px,610px,204px);         
}

.subtitle {
    @include font(adineuepro,18px,$color-title,px);
}

.subparagrph {
    @include font(adihausdin_cn,11px,$color-subtitle,px);
}

.guayos-2 img{  
    @include component(170px,122px,781px,204px);          
}

.player-2 img{  
    @include component(190px,121px,681px,367px);           
}

.final-title{
    @include component(175px,105px,932px,308px);           
    @include font(adineuepro,18px,$color-final,px);
}


.filter-orange{
    filter: invert(48%) sepia(79%) saturate(2476%) brightness(118%) contrast(119%);
}