<!-- <div class="mainbox">

  <div class="mainboxtext">
    <h1>kevin</h1>
    <h2>rodriguez</h2>

  


</div>

</div> -->

<div class="mainbox">

  <div class="player right">
    <img src="/assets/images/player/messi.jpg" alt="Messi" align="right">
  </div>

  <div class="player right">
    <img src="/assets/images/player/messi.jpg" alt="Messi" align="right">
  </div>
</div>











<!-- <div class="c-1">
  <h1>
    xuadradod 1
  </h1>

</div>

<div class="c-2">
  <h1>
    uadradod 2
  </h1>
</div>
 -->


<!-- <div id="main" class="testing">
   <img src="/assets/images/bg/1.jpg" class="bg">
  <div>
    <img src="/assets/images/favicons/apple-touch-icon-57x57.png">

  </div> 

  <div>
    
  </div>

</div> -->