<!-- <div>

    <ul style="list-style-type:circle">
        <div *ngFor="let item of dataList2">


            <li>
                {{item.val}}
            </li>
        </div>
    </ul>
</div>

<button (click)="getData()">
    asssssssssssssssss
</button>

<div *ngFor="let item of dataList3">
    {{item.key}}
</div> -->
<div>
    <ul>
        <div *ngFor="let item of dataList2">
            <div >
                <li>
                    {{item.val}} {{item.position}}
                </li>
            </div>
        </div>
    </ul>
</div>